/** * Variables */


$primary-color: #3E6E54;
$secondary-color: #72C297;
$text-success: #e76b46;
$text-info: #263328;
$text-light: #e7bb46;
$text-warning: #4A8686;
$text-danger: #d88b4a !important;
$color-1: #fafafa;
$color-dark: #343a40;