@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import url('https://fonts.googleapis.com/css?family=Cardo');
@import "components/search-form";

$font-stack: 'Montserrat', 'Cardo', 'Indie Flower', 'Josefin Slab', sans-serif !important;
$primary-color: #3E6E54;
$secondary-color: #72C297;
$text-success: #e76b46;
$text-info: #263328;
$text-light: #e7bb46;
$text-warning: #4A8686;
$text-danger: #d88b4a !important;
$color-1: #fafafa;


body {
  background-color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  color: $text-info;

  a {
    color: $text-info;
  }

  a:hover {
    color: $text-success;
    text-decoration: none;
    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
  }

  .main-title {
    font-family: 'Indie Flower', cursive;
    color: $text-light;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-shadow: 4px 5px 6px $text-success;
    font-size: 6rem;
    text-align: center;
  }

  .row-chicken {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .index-title {
    font-family: 'Indie Flower', cursive;
    color: $text-light;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-shadow: 3px 3px 5px $text-success;
    font-size: 4rem;
    text-align: center;
  }

  .main-link {
    a {
      font-family: 'Josefin Slab', serif;
      color: $secondary-color;
      text-shadow: 2px 2px 4px $text-info;
      font-size: 3rem;
      line-height: 3.2rem !important;
      text-align: center;
      padding-bottom: 3rem;
    }

    a:hover {
      color: $text-success;
    }
  }

  .btn-create {
    border-radius: 25px;
    border-width: 1px;
    border-color: $text-info;
    text-shadow: 3px 3px 3px $text-danger;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
    background-color: $text-light;
    color: $text-info;
    padding: auto;
  }

  .table {
    background-color: $secondary-color !important;
    border-radius: 5px;
    color: $text-info;
    line-height: 15px;
    width: 75%;

    .btn-group {
      border-color: $primary-color;
      background-color: $secondary-color;
      align-content: center;

      a {
        color: $secondary-color;
      }

      a:hover {
        color: $text-success;
      }
    }
  }


  .badge-ingredient {
    border-color: $text-info;
    background-color: $text-success;
    text-shadow: 1px 2px 5px $text-info;
    color: $secondary-color;
    font-size: 0.8rem;
  }

  .card {
    background-color: $secondary-color;
    border-radius: 20px;
    color: $color-1;

    a {
      color: $text-info;
    }
  }


  footer {
    p {
      font-size: 1rem;
      line-height: 30px;
      padding-top: 20px;
      padding-bottom: 40px;
      text-align: center;
    }

    a {
      color: $secondary-color;
      font-size: 1rem;
      line-height: 30px;
    }
  }

  div > div:nth-child(2) > div > div.card.bg-dark.text-white > div.card-body.recipe.text-center > p:nth-child(1) {
    line-height: 2.5rem;
    text-align: justify;
  }

}


.select2 {
  width: 100%;

  li.select2-selection__choice {
    color: $text-info;
  }

}

/*-------------------------------------------------------------- Media queries*/

@media (max-width: 767px) {
  body {
    .main-title {
      padding-top: 10px;
      padding-bottom: 13px;
      font-size: 4rem;
      line-height: 55px;
      text-align: center;
    }

    .index-title {
      font-size: 3rem;
      padding-top: 10px
    }


    .main-link {
      a {
        padding-top: 1rem !important;
        font-family: 'Josefin Slab', serif;
        font-size: 2rem;
      }
    }

    h4 {
      font-size: medium;
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  body {
    .main-title {
      font-size: 5rem;
      line-height: 70px;
      text-align: center;
    }


    .main-link {
      a {
        font-family: 'Josefin Slab', serif;
        font-size: 2rem;
        line-height: 20px;
        text-align: center;
      }
    }


  }
}
