footer {
    p {
      font-size: 1rem;
      line-height: 30px;
      padding-top: 20px;
      padding-bottom: 40px;
      text-align: center;
    }

    a {
      color: $secondary-color;
      font-size: 1rem;
      line-height: 30px;
    }
  }