
.table {
  background-color: $secondary-color !important;
  border-radius: 5px;
  color: $text-info;
  line-height: 25px;
  width: 75%;


  .btn-group {
    border-color: $primary-color;
    background-color: $secondary-color;
    align-content: center;

    a {
      color: $secondary-color;
    }

    a:hover {
      color: $text-success;
    }
  }

}