
.card {
  background-color: $secondary-color;
  border-radius: 20px;
  color: $color-1;

  .card-body {
    padding: 0.5rem !important;
    font-size: 1rem !important;
  }

  a {
    color: $text-info;
  }
}