
.card {
  background-color: $secondary-color;
  border-radius: 20px;
  color: $color-1;

  .card-body {
    padding: 0.5rem !important;
    font-size: 1rem !important;
  }

  a {
    color: $text-info;
  }

  @media (max-width: 767px) {
    .card-body {
      padding: 0.5rem !important;
      font-size: 0.8rem !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .card-body {
      padding: 0.5rem !important;
      font-size: 0.8rem !important;
    }
  }
}