{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2" align="center">
                <div class="card mb-3 mt-5">
                    <div class="card-header">
                        <h1 class="index-title align-content-center">Allergies</h1>
                    </div>

                    <div class="card-body">
                        <form action="{{ url_for('allergy_store') }}" method="POST">
                            <div class="form-group">
                                <label for="allergy">Allergy</label>
                                <input class="form-control" type="text" name="name" placeholder="Allergy"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
