{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 mt-5" align="center">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <h1 class="index-title align-content-center mt-5 mb-5">Create Category</h1>
                    </div>

                    <div class="card-body">
                        <form action="{{ url_for('category_store') }}" method="POST">
                            <div class="form-group">
                                <label for="category">Category</label>
                                <input type="text" class="form-control" name="name" placeholder="Category"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
