{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Edit category</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-auto text-center">
                <form action="{{ url_for('category_update', category_id=category.id) }}" method="POST">
                    <input type="text" name="name" placeholder="Category" value="{{ category.name }}" />
                    <br>
                    <br>
                    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Send</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
