{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2" align="center">
                <div class="card text-white bg-dark mb-3 mt-5">
                    <div class="card-header">
                        <h1 class="index-title align-content-center my-5">Edit Category</h1>
                    </div>

                    <div class="card-body">
                        <form action="{{ url_for('category_update', category_id=category.id) }}" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Category"
                                       value="{{ category.name }}"/>
                                {% if form.name.errors %}
                                    <ul class=errors>
                                        {% for error in form.name.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light my-2 my-sm-0">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
