{% extends 'base.html' %} {% block content %}
    <div class="container">
        <h1 class="main-title align-content-center mt-2">What's for dinner?</h1>
        <div class="row-chicken" align="center">

            <img src="https://i.pinimg.com/originals/96/07/cb/9607cb0ff47111681fe7864c51cc3354.png"
                 alt="Click for random recipe" class="img-fluid rounded">

        </div>

        <div class="row text-center my-5">
            {% if can('allergy_index') %}
                <div class="col-sm offset-md-1 col-offset-1 main-link">
                    <a href={{ url_for('allergy_index') }}>Allergies</a>
                </div>
            {% endif %}

            {% if can('ingredient_index') %}
                <div class="col-sm main-link">
                    <a href={{ url_for('ingredient_index') }}>Ingredients</a>
                </div>
            {% endif %}

            {% if can('recipe_index') %}
                <div class="col-sm main-link">
                    <a href={{ url_for('recipe_index') }}>Recipes</a>
                </div>
            {% endif %}

            {% if can('category_index') %}
                <div class="col-sm main-link">
                    <a href={{ url_for('category_index') }}>Categories</a>
                </div>
            {% endif %}

        </div>

        <div class="row text-center mx-auto">
            <div class="col-md-8 offset-md-2">

                <div class="card-deck">
                    <div class="card card-popular text-center mb-3">
                        <div class="card-header my-1">
                            <h4 class="text-warning"><strong>Popular recipes</strong></h4>
                        </div>
                        <div class="my-auto mx-auto ">
                            {% for recipe in most_voted_for_recipes %}
                                <a href="{{ url_for('recipe_show', recipe_id=recipe.id) }}">
                                    <h6 class="mx-auto my-3">{{ recipe.title }} :
                                        <span class="badge badge-pill badge-dark">{{ recipe.recipe_votes|sum(attribute='vote') }}</span>
                                    </h6>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card card-popular mb-3">
                        <div class="card-header">
                            <h4 class="text-warning"><strong>Popular categories</strong></h4>
                        </div>
                        <div class="card-subtitle my-1 mx-auto">
                            {% for c in most_voted_for_categories %}
                                <h4 class="text-left">{{ c.category.name }}</h4>
                                <a href="{{ url_for('recipe_show', recipe_id=c.recipe.id) }}">
                                    <h6 class="text-right my-1"> {{ c.recipe.title }} :
                                        <span class="badge badge-pill badge-dark my-1">{{ c.recipe.recipe_votes|sum(attribute='vote') }}  </span>
                                    </h6>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card search-form my-5">
                    <div class="card-body">
                        <form action="{{ url_for('recipe_search') }}"
                              class="form-inline">

                            <div class="form-group">
                                <label for="title" class="sr-only">Title</label>
                                <input class="form-control form-control-sm" type="text" name="title" id="title"
                                       placeholder="Search recipes..."
                                       value="{{ title }}"
                                />
                            </div>
                            <div class="form-group">
                                <label for="categories" class="sr-only">Categories</label>
                                <select id="categories" class="select2" name="categories" multiple
                                        title="Categories">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}"
                                                {% if category in selected_categories %} selected {% endif %}
                                        >{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ingredients" class="sr-only">Ingredients</label>
                                <select id="ingredients" class="select2" name="ingredients" multiple
                                        title="Ingredients">
                                    {% for ingredient in ingredients %}
                                        <option value="{{ ingredient.id }}"
                                                {% if ingredient in selected_ingredients %} selected {% endif %}
                                        >{{ ingredient.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-dark">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-8 offset-md-2">
                    <div class="card-columns">
                        {% for recipe in recipes %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">{{ recipe.title }}</div>
                                    <p>{{ recipe.method|truncate(100) }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ url_for('recipe_show', recipe_id=recipe.id) }}"
                                       class="w-100 d-flex justify-content-between">
                                        View recipe
                                        <i class="fas fa-angle-double-right my-auto"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
