{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2" align="center">
                <div class="card text-white bg-dark mb-3 mt-5">
                    <div class="card-header">
                        <h1 class="index-title align-content-center">Ingredients</h1>
                    </div>

                    <div class="card-body">
                        <form action="{{ url_for('ingredient_store') }}" method="POST">
                            <div class="form-group">
                                <label for="ingredient">Ingredient</label>
                                <input class="form-control" type="text" name="name" placeholder="Ingredient"/>
                            </div>
                            <div class="form-group">
                                <label for="allergies">Allergies</label>
                                <select name="allergies" id="allergies" class="select2 form-control" multiple
                                        data-tags="true">
                                    {% for allergy in allergies %}
                                        <option value="{{ allergy.id }}">{{ allergy.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
