{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Edit ingredient</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-auto text-center">
                <form action="{{ url_for('ingredient_update', ingredient_id=ingredient.id) }}" method="POST">
                    <input type="text" name="name" placeholder="Ingredient" value="{{ ingredient.name }}" />
                    <br>
                    <select name="allergies" multiple>
                    {% for allergy in allergies %}
                    <option value="{{ allergy.id }}"
                            {% if allergy in ingredient.allergies %}
                            selected
                            {% endif %}
                    >{{ allergy.name }}</option>{
                    {% endfor %}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Send</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
