{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="index-title align-content-center mt-5">Read Recipe</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="card-recipe-show">
                <img class="my-5" src="https://via.placeholder.com/100" width="35%" align="center" alt="Card image cap">
                <div class="card-body bg-dark text-white">
                    <h2>{{ recipe.title }}</h2>
                    <h3 class="card-text">{{ recipe.method }}</h3>

                    <p class="card-text">{{ recipe.method }}
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal
                        height
                        action.</p>
                    <p class="card-text">
                        <small class="text-muted">{{ recipe.ingredient }}</small>
                        {% for ingredient in recipe.ingredients %}
                            <span class="badge badge-light">{{ ingredient.name }}</span>
                        {% endfor %}
                    </p>
                    <a class="btn btn-light" href="{{ url_for('recipe_edit', recipe_id=recipe.id) }}">Edit Recipe</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
