{% extends 'base.html' %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2" align="center">
                <div class="card text-white bg-dark mb-3 mt-5">
                    <div class="card-header">
                        <h1 class="index-title align-content-center mt-5 mb-5">Edit Recipe</h1>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('recipe_update', recipe_id=recipe.id) }}" method="POST">
                            <div class="form-group">
                                <label for="name" class="sr-only">Title of Recipe</label>
                                <input id="name" class="form-control form-control-lg" type="text" name="title"
                                       value="{{ recipe.title }}"/>
                                {% if form.title.errors %}
                                    <ul class=errors>
                                        {% for error in form.title.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" class="select2" name="categories" multiple data-tags="true"
                                        title="Select Categories">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}"
                                                {% if category in recipe.categories or category.id|string in form.categories.data %}
                                                selected {% endif %}
                                        >{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.categories.errors %}
                                    <ul class=errors>
                                        {% for error in form.categories.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>


                            <div class="form-group">
                                <label for="method">Cooking Method</label>
                                <textarea rows="10" id="method" class="form-control"
                                          name="method">{{ recipe.method }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="ingredients">Ingredients</label>
                                <select id="tags" class="select2" name="ingredients" multiple data-tags="true"
                                        title="Select Ingredients">
                                    {% for ingredient in ingredients %}
                                        <option value="{{ ingredient.id }}"
                                                {% if ingredient in recipe.ingredients %} selected {% endif %}
                                        >{{ ingredient.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.ingredients.errors %}
                                    <ul class=errors>
                                        {% for error in form.ingredients.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-light">
                                    Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
