{% extends 'base.html' %} {% block content %}

    <div class="container">
    <div class="row">
        <div class="col-12">
            <h1>User index</h1>
            <a class="btn btn-success" href="{{ url_for('user_create') }}">Create</a>
        </div>
    </div>
    </div>

    <div class="container">
        <table class="table">
        <thead><tr><th>User Name</th><th>Actions</th></tr></thead>    <tbody>
        {% for user in users %}    <tr>
            <td>{{ user.name }}</td>
            <td>
                <form class="d-none" action="{{ url_for('user_delete', user_id=user.id) }}" method="POST">
                </form>
            <div class="btn-group btn-group-sm">
            <a class="btn btn-info" href="{{ url_for('user_edit', user_id=user.id) }}">Edit</a>
            <a class="btn btn-danger onClickSubmitDeleteRequest">Delete</a>

</div>
</td>
        </tr>
        {% endfor %}
</tbody>
</table>
    </div>

{% endblock %}
